<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
        <link type="text/css" rel="stylesheet" href="{% static "css/issue_tracker.css" %}">
        <link type="text/css" rel="stylesheet" href="{% static "css/login.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <!-- JS -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.js" %}"></script>
        <script src="{% static "js/login.js" %}"></script>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <Title>Jira | Login</Title>
    </head>
    <body class="bg-white">
        <div class="container">
            <div>
                <a href="{{ BASE_URL }}" class="logo">
                    <img class="logo-img" src="{% static "images/logo/jira-logo.png" %}" alt="Jira Logo">
                    <span class="logo-txt">Issue Tracker</span>
                </a>
            </div>

            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div class="box">
                        <div class="shape1"></div>
                        <div class="shape2"></div>
                        <div class="shape3"></div>
                        <div class="shape4"></div>
                        <div class="shape5"></div>
                        <div class="shape6"></div>
                        <div class="shape7"></div>
                        <div class="shape7-1"></div>
                        <div class="shape8"></div>
                        <div class="shape9"></div>

                        <div class="float">
                            <form class="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p>
                                        <label for="id_username" class="text-white">Username:</label><br>
                                        <input type="text" name="username" id="id_username" class="form-control" autofocus required>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <p>
                                        <label for="id_password" class="text-white">Password:</label><br>
                                        <input type="password" name="password" id="id_password" class="form-control" required>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="button" name="login" id="login" class="btn btn-info btn-md" value="Login" onclick="post_login()">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
