{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="text-align: center;padding:40px;background-color:gray;">ISSUE TRACKING SYSTEM</h1>
                  </div>
      </div>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
     <a class="navbar-brand" href="home.html">ITS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
    <a class="nav-link" href="user.html">USER<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="project.html">PROJECT<span class="sr-only">(current)</span></a>
     </li>
    <li class="nav-item">
     <a class="nav-link" href="issue.html">ISSUE<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="comments.html">COMMENTS<span class="sr-only">(current)</span></a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <br>
    <br>
<form>
<div class="form-group">
<label >COMMENT ID</label>
<input type="text" class="form-control" placeholder="Enter COMMENTID">
</div>
<div class="form-group">
        <label >ISSUE ID</label>
        <input type="text" class="form-control" placeholder="Enter ISSUEID">
        </div>
        <div class="form-group">
                <label >USER ID</label>
                <input type="text" class="form-control" placeholder="Enter USERID">
                </div>
<div class="form-group">
        <label>COMMENT</label>
        <textarea class="form-control" rows="10" placeholder="Enter the Comment"></textarea>
      </div>
<br>
<br>
<button type="submit" class="btn btn-primary">COMMENT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<button type="submit" class="btn btn-primary">NEW COMMENT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-primary">CANCEL</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
</form>
{% endblock %}